body{
    background-image: url("assets/spiral.jpg");
}
header{
    padding: 10px 0px;
    background-color: beige;
}
header .row{
    margin: 10px 10px;
}
header span{
    color: white;
    background-color: teal;
}




.container-portfolio {
    width: fit-content;
    margin-top: 70px;
    margin-left: 30px;
}
.container-contact,
.container-index {
    max-width: 67%;
    margin-top: 70px;
    margin-left: 30px;
}
.container-index article{
    display: inline;
    background-color: white;
}
#float-left{
    float: left;
    margin-right: 25px;
}
article, 
form, 
figure {
    background-color: white;
    padding: 20px;
    margin-bottom: 100px;
}
article h1, 
form h1, 
figure h1 {
    color: teal;
}


footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
}

footer .teal-portion{
    bottom: 50px;
    height: 10px;
    background-color: rgb(0, 252, 218);
}
footer .gray-portion{
    bottom: 0;
    height: 50px;
    background-color: rgb(78, 78, 77);
}
