body{
    background-image: url("assets/spiral.jpg");
}
header{
    padding: 10px 0px;
    background-color: beige;
}
header .row{
    margin: 10px 10px;
}
header mark{
    background-color: teal;
}
.container-index, 
.container-contact{
    margin-top: 50px;
    margin-left: 70px;
    max-width: 67%;
}
.container-portfolio {
    margin-top: 50px;
    margin-left: 70px;
    max-width: 40%;
}
article, 
form, 
figure {
    background-color: white;
    padding: 20px;
}
article h1, 
form h1, 
figure h1 {
    color: teal;
}
footer .teal-portion{
    position: fixed;
    bottom: 50px;
    height: 10px;
    width: 100%;
    background-color: rgb(0, 252, 218);
}
footer .gray-portion{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(78, 78, 77);
}
